.slogan {
  height: 250px;
  background-color: #12151a;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.container button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

