.contacts {
    min-height: 80vh;
    background-color: #ffd4cd;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    border: 1px solid;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    display: flex;

}

.contacts button {
    width: 200px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
}

form, input, textarea {
    width: 70%;
    height: 40%;
}

.contacts h2 {
    font-size: 40px;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}