

.footer {
  min-height: 30vh;
  width: 100%;
  background-color: #12151a;
  display: flex;
  justify-content: center;
}

.container {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.items {
  display: flex;
  justify-content: space-between;
flex-direction: column;
  align-items: center;

}

.item {
  margin-right: 10px;
}
